# Archivo de variables de entorno (contiene secretos)
.env
lsa.db
*.db

# Modelos de Machine Learning y datos pesados
modelo_gestos.h5
labels.pkl
#Carpeta con los videos de entrenamiento
LSA/
# Carpetas y archivos de caché de Python
venv/
.venv/
__pycache__/
.idea/
.vscode/

# Cualquier otro archivo donde hayas anotado claves o notas
*.txt
!requirements.txt
*.CSV
dataset_manos_lsa_v2.csv
dataset_manos_lsa_v2_con_palabras.csv
dataset_lsa64_temporal.npz
modelos/lsa64/*.keras
